<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<style type="text/css">

		#header {
	    text-align:center;
	    padding:5px;
		}
		#nav {
		    line-height:30px;
		    height:3000px;
		    width:700px;
		    float:left;
		    padding:5px;	      
		}
		#section {
		    width:350px;
		    float:left;
		    padding:10px;	 	 
		}
		#form_made{
			position: relative;
			top: 40px;
			left: 550px;
			width: 300px;
			background-color: white;
			z-index: 500px;
			margin: 20px;
			padding: 10px;
		}
		
		#submit {
		    background-color: green;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius:6px;
		    color: #fff;
		    font-family: 'Oswald';
		    font-size: 20px;
		    text-decoration: none;
		    cursor: pointer;
		    border:none;
		}
		#submit:hover {
		    border: none;
		    background-color :blue;
		    box-shadow: 0px 0px 1px #777;
		}

		#process:hover{
			color: blue;
		}
		#process{
			position:relative; 
			left:0px; 
			top:-0px; 
			font-size:25px;
			color: 	#800000;
			background-color:#D2691E;
		}

		#op_button:hover{
			color: blue;
		}
		#op_button{
			position:relative; 
			left:0px; 
			top:0px;
			font-size:25px;
			color: black;
			background-color: green;
		}
		#aut_output{
			position: relative;
			top: 0px;
			height: 50px;
		}
		#titl_output{
			position: relative;
			top: 0px;
			height: 50px;
		}
		#email_output{
			position: relative;
			top: 0px;
			height: 20px;
		}

		#affil_output{
			position: relative;
			top: 0px;
			height: 20px;
		}

		#map_output{
			position: relative;
			top: 0px;
			height: 150px;
		}

		#figt_output{
			position: relative;
			top: 0px;
			height: 150px;
		}

		#refcit_output{
			position: relative;
			top: 0px;
			height: 150px;
		}

		#sec_output{
			position: relative;
			top: 0px;
			height: 50px;
		}

		#fn_output{
			position: relative;
			top: 0px;
			height: 150px;
		}

		#url_output{
			position: relative;
			top: 0px;
			height: 150px;
		}

		#pdf{
			position:relative; 
			left:0px; 
			top:0px; 
			font-size:25px;
			color: blue;
		}

	</style>

	<script>

	// function op() {
	// 	var tx = "abbbhabba";
	// 	for (i=0; i<tx.length;i++)
	// 	{
	// 		console.log(tx[i]);
	// 		if (tx[i]=="a") 
	// 		{
	// 			var table = document.getElementById("myTable");

	// 			// Create an empty <tr> element and add it to the 1st position of the table:
	// 			var row = table.insertRow(0);

	// 			// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
	// 			var cell1 = row.insertCell(0);
	// 			var cell2 = row.insertCell(1);

	// 			// Add some text to the new cells:
	// 			cell1.innerHTML = "NEW CELL1";
	// 			cell2.innerHTML = "NEW CELL2";
	// 		}
	// 	}
	// }

	function op()
	{
		sec();
		affil();
		email();
		aut();
		titl();
		figt();
		fn();
		url();
		refcit();
		map();
	}

	// directory = '/var/www/html/OCR++/django/minimal-django-file-upload-example/src/for_django_1-6/myproject/myproject/media/documents/'


	function titl()
	{
		var iframe_t = document.createElement('iframe');
		iframe_t.id = 'iframe_t';
		iframe_t.style.display = 'none';
		document.body.appendChild(iframe_t);
		iframe_t.src = '../../media/documents/eval_title.txt';
		// subprocess.call("echo lool",shell=true);
		setTimeout(function(){
		    var text = document.getElementById('iframe_t').contentDocument.body.firstChild.innerHTML;
		    var arr = text.split("&lt;&lt;title&gt;&gt;");
		    // for(i=arr.length-1;i>0;i--)
		    // {
		    // console.log(arr);
	    	text = arr[1];
	    	var table = document.getElementById("myTable");

			// Create an empty <tr> element and add it to the 1st position of the table:
			var row = table.insertRow(1);

			// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);

			// Add some text to the new cells:
			cell1.innerHTML = "<textarea id=\"titl_output\" style=\"background-color:yellow;\" class=\"answer_list\" rows=\"30\" cols=\"60\" > WELCOME</textarea>";
			document.getElementById("titl_output").style.display = "block";
			document.getElementById("titl_output").innerHTML = text.slice(1,-2);
			cell2.innerHTML = "Title";
			cell3.innerHTML = "<input type=\"radio\" name=\"title\" value=\"correct\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
			cell4.innerHTML = "<input type=\"radio\" name=\"title\" value=\"incorrect\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
			cell5.innerHTML = "<input type=\"radio\" name=\"title\" value=\"partial\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
		}, 1000);
	}

	function aut()
	{
		var iframe = document.createElement('iframe');
		iframe.id = 'iframe';
		iframe.style.display = 'none';
		document.body.appendChild(iframe);
		iframe.src = '../../media/documents/eval_author.txt';
		setTimeout(function(){
		    var text = document.getElementById('iframe').contentDocument.body.firstChild.innerHTML;
		    var arr = text.split("&lt;&lt;name&gt;&gt;");
		    for(i=arr.length-1;i>0;i--)
		    {
		    	text = arr[i];
		    	var table = document.getElementById("myTable");

				// Create an empty <tr> element and add it to the 1st position of the table:
				var row = table.insertRow(1);

				// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				var cell3 = row.insertCell(2);
				var cell4 = row.insertCell(3);
				var cell5 = row.insertCell(4);

				// Add some text to the new cells:
				cell1.innerHTML = "<textarea id=\"aut_output\" style=\"background-color:yellow;\" class=\"answer_list\" rows=\"30\" cols=\"60\" > WELCOME</textarea>";
				document.getElementById("aut_output").style.display = "block";
				document.getElementById("aut_output").innerHTML = text.slice(1,-2);
				cell2.innerHTML = "Author " + i;
				cell3.innerHTML = "<input type=\"radio\" name=\"author\" value=\"correct\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell4.innerHTML = "<input type=\"radio\" name=\"author\" value=\"incorrect\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell5.innerHTML = "<input type=\"radio\" name=\"author\" partial=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
		    }
		    // document.getElementById('ta_output').style.display = "block";
		    // document.getElementById('ta_output').innerHTML = text ;
		}, 1000);
	}
	function email()
	{
		var eiframe = document.createElement('iframe');
		eiframe.id = 'eiframe';
		eiframe.style.display = 'none';
		document.body.appendChild(eiframe);
		eiframe.src = '../../media/documents/eval_emails.txt';
		setTimeout(function(){
		    var text = document.getElementById('eiframe').contentDocument.body.firstChild.innerHTML;
		    var arr = text.split("&lt;&lt;Email&gt;&gt;");
		    for(i=arr.length-1;i>0;i--)
		    {
		    	text = arr[i];
		    	var table = document.getElementById("myTable");

				// Create an empty <tr> element and add it to the 1st position of the table:
				var row = table.insertRow(1);

				// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				var cell3 = row.insertCell(2);
				var cell4 = row.insertCell(3);
				var cell5 = row.insertCell(4);

				// Add some text to the new cells:
				cell1.innerHTML = "<textarea id=\"email_output\" style=\"background-color:yellow;\" class=\"answer_list\" rows=\"30\" cols=\"60\" > WELCOME</textarea>";
				document.getElementById("email_output").style.display = "block";
				document.getElementById("email_output").innerHTML = text.slice(1,-1);
				cell2.innerHTML = "Email " + i;
				cell3.innerHTML = "<input type=\"radio\" name=\"correct\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell4.innerHTML = "<input type=\"radio\" name=\"incorrect\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell5.innerHTML = "<input type=\"radio\" name=\"partial_correct\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
		    }
		    // document.getElementById('ta_output').style.display = "block";
		    // document.getElementById('ta_output').innerHTML = text ;
		}, 1000);
	}
	function affil()
	{
		var aiframe = document.createElement('iframe');
		aiframe.id = 'aiframe';
		aiframe.style.display = 'none';
		document.body.appendChild(aiframe);
		aiframe.src = '../../media/documents/eval_Affiliations.txt';
		setTimeout(function(){
		    var text = document.getElementById('aiframe').contentDocument.body.firstChild.innerHTML;
		    var arr = text.split("&lt;&lt;Affiliation&gt;&gt;");
		    for(i=arr.length-1;i>0;i--)
		    {
		    	text = arr[i];
		    	var table = document.getElementById("myTable");

				// Create an empty <tr> element and add it to the 1st position of the table:
				var row = table.insertRow(1);

				// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				var cell3 = row.insertCell(2);
				var cell4 = row.insertCell(3);
				var cell5 = row.insertCell(4);

				// Add some text to the new cells:
				cell1.innerHTML = "<textarea id=\"affil_output\" style=\"background-color:yellow;\" class=\"answer_list\" rows=\"30\" cols=\"60\" > WELCOME</textarea>";
				document.getElementById("affil_output").style.display = "block";
				document.getElementById("affil_output").innerHTML = text.slice(1,-1);
				cell2.innerHTML = "Affil " + i;
				cell3.innerHTML = "<input type=\"radio\" name=\"correct\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell4.innerHTML = "<input type=\"radio\" name=\"incorrect\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell5.innerHTML = "<input type=\"radio\" name=\"partial_correct\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
		    }
		    // document.getElementById('ta_output').style.display = "block";
		    // document.getElementById('ta_output').innerHTML = text ;
		}, 1000);
	}
	function sec()
	{
		var siframe = document.createElement('iframe');
		siframe.id = 'siframe';
		siframe.style.display = 'none';
		document.body.appendChild(siframe);
		siframe.src = '../../media/documents/eval_Secmap.txt';
		setTimeout(function(){
		    var text = document.getElementById('siframe').contentDocument.body.firstChild.innerHTML;
		    var arr = text.split("&lt;&lt;section&gt;&gt;");
		    for(i=arr.length-1;i>0;i--)
		    {
		    	text = arr[i];
		    	var table = document.getElementById("myTable");

				// Create an empty <tr> element and add it to the 1st position of the table:
				var row = table.insertRow(1);

				// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				var cell3 = row.insertCell(2);
				var cell4 = row.insertCell(3);
				var cell5 = row.insertCell(4);

				// Add some text to the new cells:
				cell1.innerHTML = "<textarea id=\"sec_output\" style=\"background-color:yellow;\" class=\"answer_list\" rows=\"30\" cols=\"60\" > WELCOME</textarea>";
				document.getElementById("sec_output").style.display = "block";
				document.getElementById("sec_output").innerHTML = text.slice(1,-1);
				cell2.innerHTML = "Section " + i;
				cell3.innerHTML = "<input type=\"radio\" name=\"correct\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell4.innerHTML = "<input type=\"radio\" name=\"incorrect\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
				cell5.innerHTML = "<input type=\"radio\" name=\"partial_correct\" value=\"value\" style=\"position:relative; left:5px; height:20px; width:20px;\">";
		    }
		    // document.getElementById('ta_output').style.display = "block";
		    // document.getElementById('ta_output').innerHTML = text ;
		}, 1000);
	}
	function figt()
	{
		// document.getElementById('output').style.display = "none";
    	var iframe3 = document.createElement('iframe');
		iframe3.id = 'iframe3';
		iframe3.style.display = 'none';
		document.body.appendChild(iframe3);
		iframe3.src = '../../media/documents/TABFIGop.txt';
		setTimeout(function(){
		    var text3 = document.getElementById('iframe3').contentDocument.body.firstChild.innerHTML;
		    document.getElementById('figt_output').style.display = "block";
		    document.getElementById('figt_output').innerHTML = text3 ;
		}, 1000);
	}
	function fn()
	{
		// document.getElementById('output').style.display = "none";
    	var iframe4 = document.createElement('iframe');
		iframe4.id = 'iframe4';
		iframe4.style.display = 'none';
		document.body.appendChild(iframe4);
		iframe4.src = '../../media/documents/FOOTNOTEop.txt';
		setTimeout(function(){
		    var text4 = document.getElementById('iframe4').contentDocument.body.firstChild.innerHTML;
		    document.getElementById('fn_output').style.display = "block";
		    document.getElementById('fn_output').innerHTML = text4 ;
		}, 1000);
	}
	function url()
	{
		// document.getElementById('output').style.display = "none";
    	var iframe5 = document.createElement('iframe');
		iframe5.id = 'iframe5';
		iframe5.style.display = 'none';
		document.body.appendChild(iframe5);
		iframe5.src = '../../media/documents/URLop.txt';
		setTimeout(function(){
		    var text5 = document.getElementById('iframe5').contentDocument.body.firstChild.innerHTML;
		    document.getElementById('url_output').style.display = "block";
		    document.getElementById('url_output').innerHTML = text5 ;
		}, 1000);
	}
	function refcit()
	{
		// document.getElementById('output').style.display = "none";
    	var iframe6 = document.createElement('iframe');
		iframe6.id = 'iframe6';
		iframe6.style.display = 'none';
		document.body.appendChild(iframe6);
		iframe6.src = '../../media/documents/inputcit2ref.txt';
		setTimeout(function(){
		    var text6 = document.getElementById('iframe6').contentDocument.body.firstChild.innerHTML;
		    document.getElementById('refcit_output').style.display = "block";
		    document.getElementById('refcit_output').innerHTML = text6 ;
		}, 1000);
	}
	
	function map()
	{
		// document.getElementById('output').style.display = "none";
    	var iframe8 = document.createElement('iframe');
		iframe8.id = 'iframe8';
		iframe8.style.display = 'none';
		document.body.appendChild(iframe8);
		iframe8.src = '../../media/documents/map.txt';
		setTimeout(function(){
		    var text6 = document.getElementById('iframe8').contentDocument.body.firstChild.innerHTML;
		    document.getElementById('map_output').style.display = "block";
		    document.getElementById('map_output').innerHTML = text6 ;
		}, 1000);
	}
	</script>

	<body>

		<div id="header">
			<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{{ form.docfile.label_tag }} {{ form.docfile.help_text }}
				{{ form.docfile.errors }}
				{{ form.docfile }}
				<p><input id="submit" type="submit" value="Upload" /></p>
			</form>
			<a id="process" href="runScript">Process</a>
			<a id="op_button" onclick="op()">Output<a>		
		</div>
		<form action="{% url "vote" %}" method="post" id="loginform">
			{% csrf_token %}
			<div id="nav">
			<table id="myTable" border=1>

				<tr>			
					<th>
						Features
					</th>
					
					<th>
					</th>
					
					<th>
						<label>Right</label>
					</th>
					
					<th>
						<label>Wrong</label>
					</th>
					
					<th>
						<label>Partial</label>
					</th>
				</tr>

			</div>

			<div id="section" style="position:fixed; top:55px; left:750px;">
			<embed id="pdf" src="../../media/documents/input.pdf" width="550px" height="600px">
			</div>

			<!-- <a href="vote" id="submit_button">Submit</a>	 -->
		    <label for="your_name">Your email : </label>
		    <input id="email" type="email" name="email" value="{{ email }}">
		    <!-- <input id="paperid" name="paperid" value="{{ paperid }}"> -->
		    <input type="submit" value="OK">
		</form>
	
	</body>

</html>